.header_group {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)), url('https://miro.medium.com/max/1200/1*bJgi8sEbnBVd028rAf4BEQ.png');
  padding: 300px 100px;
  background-size: cover;
  color: white;
  text-align: center;
}