.header_group {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)), url('https://miro.medium.com/max/1200/1*bJgi8sEbnBVd028rAf4BEQ.png');
  padding: 300px 100px;
  background-size: cover;
  color: white;
  text-align: center;
}

html {
  background-image: url('https://res.cloudinary.com/yachynto/image/upload/v1603975345/gradienta-LeG68PrXA6Y-unsplash_w5qpbi.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 710px;
}

#gridName {
  background-image: url('https://res.cloudinary.com/yachynto/image/upload/v1603975345/gradienta-LeG68PrXA6Y-unsplash_w5qpbi.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.MuiBox-root {
  background-image: url('https://res.cloudinary.com/yachynto/image/upload/v1603975345/gradienta-LeG68PrXA6Y-unsplash_w5qpbi.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}